*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
/source/*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
source/CNet/CalculationNode/_ReSharper.CalculationNode/
libs/XmlRpcForWCF/TinyBlogEngine/obj/Debug/Microsoft.ServiceModel.XmlRpc.Samples.Test.exe
libs/XmlRpcForWCF/TinyBlogEngineClient/obj/
source/CNet/CalculationNode/CalculationNode/obj/
*.suo
libs/XmlRpcForWCF/TinyBlogEngineClient/bin/
libs/XmlRpcForWCF/
source/CNet/CalculationNode/CalculationNode/bin/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Roslyn cache directories
*.ide/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*